.vscode

# lib 폴더 내 폴더 무시
lib/build/
lib/UNKNOWN.egg-info/
log/*
lib/utils/telegrambot.py

# lib 폴더 내 benchmark 무시
lib/benchmark/pogema/
lib/benchmark/Machine_ToM/
lib/benchmark/pymarketsim/
lib/benchmark/multi-agent-framework/
lib/benchmark/RepBelief/
lib/benchmark/AmortizedNestedReasoning/
lib/benchmark/Tomnet_impl/.claude/

# lib 폴더 내 (구현된) env 무시
lib/env/lb-foraging/
lib/env/abides-jpmc-public/
lib/env/maxe/

# claude 무시
CLAUDE.md

# 데이터 폴더 무시
data/
results/

# 로그 폴더 무시
log/

# 모든 하위 폴더의 __pycache__ 폴더 무시
__pycache__/

# 모든 하위 폴더의 .DS_Store 파일 무시
.DS_Store

# 모든 하위 폴더의 .idea 폴더 무시
.idea/

# 모든 하위 폴더의 .pytest_cache 폴더 무시
.pytest_cache/
